/* ikiwiki local style sheet */
body, .pageheader .actions ul li {
  background-color: #EEEED9;
  text-rendering: optimizeLegibility;
}

a {
  color: #5187bd;
}

code, pre {
  background-color: #ddddbe;
}

.header {
  font-weight: bold;
}

.pageheader, .pagefooter {
  border: none;
  background-color: #335577;
  color: white;
}

.pageheader a, .pagefooter a {
  color: #6db6ff;
}

#footer, #pageinfo {
  margin: 0;
}

.sidebar {
  background-color: #558866;
  width: 220px;
  color: white !important;
}

.sidebar a {
  color: #65f5d8;
}

.sidebar img {
  margin: 0 10px 0 0;
}

.blogform, .trail, .inlinefooter .pagelicense, .inlinefooter .tags, .inlinefooter .actions {
  display: none;
}

.page {
  max-width: 75em;
}

#pagebody {
  width: 60em;
}

.inlinepage {
  margin: 0 0 4em 0;
  padding: 0;
  border: none;
}

.pageheader .actions ul li a {
  color: black;
}

.pagecloud {
  color: white !important;
  border: none;
  background: none;
}
